<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Base Links {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- CUSTOM ICONS -->    
      <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/cssboxicons.min.css" rel="stylesheet">
</head>
<body>
    {% block content %} {% endblock %}
      <!-- CUSTOM JS -->
     <script src="/js/script.js"></script>
</body>
</html>