<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>deng-matet.GitHub.io</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/reset.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/js/bootstrap.min.js" />
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img class="img mt-5" src="static/img/deng.png" alt="" />
        <h2>Matet Martin</h2>

        <p>Software Engineer | IT Professional</p>
        <br />
        <p class="text">
          Hello, I'm Deng, a software <br />
          engineer web design network engineering<br />
          living in Juba, South Sudan.
        </p>
      </div>
      <h2>About Me</h2>
      <p class="text">
        Welcome to my software developer portfolio! Here, you'll find a
        collection of my work, showcasing my expertise in coding, system design,
        and software development. Explore my projects to see examples of my
        coding skill, problem solving abilities, and the innovative solutions
        I've developed . Whether it's front-end or back-end development, I
        strive to create efficient and scalable software solutions, Through
        Projects in Harvard's CS50, with a bit of curiosity and a drive to
        learn, I'm constantly Exploring my way to approach challenges in
        networking systems engineering.
      </p>
      <h2>Education & Certifications</h2>
      <a class="nav-link text-primary" href=""
        >Technical Support Fundamentals,</a
      >
      <a class="nav-link text-primary" href=""
        >CCIEPython, Official GNS3 of Computer Networking</a
      >
      <p class="text">
        CS50 Web Programming with Python and Javascript, HarvardX
      </p>
      <p class="text">Diploma Degree in Computer Science, University of Juba</p>

      <h2>Projects</h2>
      <h4>Shopping Management system Built with PHP</h4>
      <p>
        A web application base on idea of digital marketing<br />
        the MVC pattern, allowing for customer, product, and payment management.
      </p>
      <a class="nav-link" href="">Source Code</a>
      <br />
      <footer class="text-center">
        <div class="sm-link">
          <a href="https://matetmartin5@gmail.com"
            ><img src="static/img/communication.png" alt=""
          /></a>
          <a href="https://www.youtube.com/@matetmartin9826"
            ><img src="static/img/play.png" alt=""
          /></a>
          <a href="https://www.facebook.com/mtrmartin"
            ><img src="static/img/facebook.png" alt=""
          /></a>
          <a href="https://dengmatet@users.noreply.github.com"
            ><img src="static/img/github.png" alt=""
          /></a>
        </div>
      </footer>
    </div>
  </body>
</html>
